<!DOCTYPE html>
<html>
  <head>
    <title>Récupérer les coordonnées GPS</title>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h1>Latitude {{ resultat.getLatitude() }}</h1>
    <h1>Longitude {{ resultat.getLongitude() }}</h1>
    <h1>Toute la ligne {{ resultat.getLigne() }}</h1>
	<h1>Heure universelle récup sur satellite {{ resultat.getHeure() }}</h1>
   
	 <h3>Sur Google Maps </h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = {lat: {{resultat.getLatitude()}}, lng: {{ resultat.getLongitude() }}};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADWBOaiZpQoCDfeC9OjPJEwmpu7I-KBtE&callback=initMap">
    </script>
  </body>
</html>



