<!DOCTYPE html>
<html>
  <head>
    <title>Récupérer les coordonnées GPS</title>
  </head>
  <body>
	  <h1>Latitude {{ resultat.getLatitude() }}</h1>
	  <h1>Longitude {{ resultat.getLongitude() }}</h1>
      <h1>Toute la ligne {{ resultat.getLigne() }}</h1>
	  <h1>Heure universelle récup sur satellite {{ resultat.getHeure() }}</h1>
      <h3>Sur Open street map </h3>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-{{resultat.getLongitudeDiv100()}}%2C-{{resultat.getLatitudeDiv100()}}%2C-{{resultat.getLongitudeDiv100()}}%2C-{{resultat.getLatitudeDiv100()}}&amp;layer=mapnik&amp;marker=-{{resultat.getLatitudeDiv100()}}%2C-{{resultat.getLongitudeDiv100()}}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-{{resultat.getLatitudeDiv100()}}&amp;mlon=-{{resultat.getLongitudeDiv100()}}#map=13/{{resultat.getLatitudeDiv100()}}/-{{resultat.getLongitudeDiv100()}}">View Larger Map</a></small>

<br/><br/>
<a href=https://www.openstreetmap.org/?mlat=-{{resultat.getLatitudeDiv100()}}&mlon=-{{resultat.getLongitudeDiv100()}}#map=13/-{{resultat.getLatitudeDiv100()}}/-{{resultat.getLongitudeDiv100()}}>Vers Open street map</a>

<form action="/arduino/streetmap">
	<input type=submit value=Recharger>
</form>
</body>
</html>



